*{
  color: white;
}

input{
  color: black;
}

body{
  background-color: navy;
}

.toogleHeaderContainer{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.toogleButton{
  width: 20%;
  height: 12vh;
}

.toogledContainer{
  display: flex;
  justify-content: center;
  width: 100%;
}

#collapseform{
  width: 90%;
  /* display: flex;
  justify-content: center; */
  border-radius: 10px;
}

.card.card-body{
  background-color: whitesmoke;
}

.inputSearch{
  border: 1px solid slategrey;
  border-radius: 10px;
  font-size: 1.5rem;
  width: 89%;
  margin-right: 0.5rem;
}

.containerSearchButton{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchSubmit{
  width: 10%;
  height: 8%;
  font-size: 1.5rem;
  background-color: transparent;
  border: 1px solid slategrey;
  padding: 0.05rem;
}

.searchSubmit:hover{
  border: 1px solid midnightblue;
  background-color: transparent;
  box-shadow: midnightblue 0 0 1rem;
}

.ContainerApp{
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: white 0 0 5px;
  margin: 2vh 3vw;
  padding-bottom: 2rem;
  background-color: midnightblue;
}

h1{
  font-size: 2.8rem;
  margin: 0;
}

h1:hover{
  text-shadow: whitesmoke 0 0 2rem;
}

h2{
  font-size: 1.9rem;
}

h3{
  font-size: 1.6rem;
}

h2,h3{
  text-align: center;
  margin: 2vh;
}

.galleryContainer{
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: white 0 0 2px;
  margin: 3vh 1vw;
}

.Gallerys{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 1rem 1rem;
}

.galleryToShow{
  border: 0.01rem solid whitesmoke;
  border-radius: 10px;
  box-shadow: whitesmoke 0 0 0.21rem;
  margin: 1rem 0.5rem;
  min-height: 25rem;
  padding: 1rem;
  display: flex;
  width: 25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.galleryHeader{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}

.buttonToShow{
  background-color: darkblue;
  font-weight: bold;
  border: 1px solid wheat;
  border-radius: 10px;
  box-shadow: whitesmoke 0 0 1rem;
  height: 35px;
}

.buttonToShow:hover{
  border: 1px solid red;
  box-shadow: red 0 0 1rem;
  color: wheat;
}

.actualGalleryHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.actualPhotoContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  max-width: 30rem;
}

.eliminarFoto{
  z-index: 1000;
  position: absolute;
  font-size: 1.8rem;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: transparent;
}

.photoGalleryCollage{
  width: 90%;
  height: 18rem;
  border: .01rem solid whitesmoke;
  border-radius: 10px;
  box-shadow: whitesmoke 0 0 3px;
}

.galleryContent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 0;
}